html {
    overflow: hidden;
}

body {
    background-color: #C8C8C8;
    border: 10px black;
}

#holder{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#field {
    background-color: brown;
}

p, a, button {
    font-family: serif;
}

html, body {
    margin: 0;
    padding: 0;
}