html {
    overflow: hidden;
}

body {
    background-color: #C8C8C8;
    border: 10px black;
}

#holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
}

#menu{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 20vw;
}

#field {
}

p, a, button {
    font-family: serif;
}

html, body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}